@(actionUrl:String,hasNext:Boolean, document:models.Module,pi:models.PageContent.PageItem, questions:java.util.List[models.Question],user:EndUser)

@main(document.name,user){

    <form action="@actionUrl" method="post">
	<section>
		<h1>@pi.name</h1>
		<div>@pi.desc</div>
        @for(question <- questions){
            @if(question!=null){
        @question.id
                @defining(QuestionDescription.parse(question.description)){ d =>
                    <dl>
                        <dt>@d.content</dt>
                        <dd>
                            @defining(question.`type`){questionType =>
                                @questionType match{
                                    case "choice" =>{
                                        @for(option <- d.options){
											<span><label>
                                                <input class="J_question" type="radio" name="@question.id" value="@option">
                                                @option
                                            </label></span>
                                        }
                                    }
                                    case "blank" =>{
                                        <input class="J_question" name="@question.id" placeholder='Your Answer Here.' />
                                    }
                                    case "multichoice" =>{
                                        @for(option <- d.options){
											<span><label>
                                                <input class="J_question" type="checkbox" name="@question.id" value="@option">
                                                @option
                                            </label></span>
                                        }
                                    }
                                    case _ =>{}
                                    }
                                }
                        </dd>
                    </dl>
                }
            }
		}

		@if(hasNext){
			<p class="buttons">
                <input type="submit" class="J_submit" value="继续">
			</p>
		}else{
	        <p class="buttons">
				<input type="submit" class="J_submit" value="提交">
	        </p>
		}
	</section>
        <input name="answer" id="J_answer" type="hidden">
    </form>
}
<script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/interview.js")" type="text/javascript"></script>
<script>
    Interview("@document.id");
</script>