.document_list{
    padding:20px;
    li{
        width:10%;
        text-align:center;
        margin-right:20px;
        float:left;
        img{
            width:100%;
            height:auto;
        }
    }

}