@(document:template.Module)


<header>
    <hgroup id="doc">
        <h1 style="font-size:14px">@document.name</h1>
        <script>
        jQuery(function(){
        	$("#doc").append('<a style="float:right;text-decoration:underline" href="/service/download/'+'@document.name'+'">Download</a>');
        });
        </script>
    </hgroup>
</header>
<article class="tasks">
    @if(document.getModuleList!=null){
        @for(module <- document.getModuleList()){
            <div class="folder">
                <header id="@module.name">
                    <h3><a href="">@module.name</a></h3>
                    <script>
        				jQuery(function(){
        					$("#@module.name").append('<a style="float:right;text-decoration:underline" href="/service/download/'+'@module.name'+'">Download</a>');
        				});
        			</script>
                    <span class="loader">Loading</span>
                </header>
                @if(module.getQuestionList()!=null){
                        <ul class="list">
                            @for(question <- module.getQuestionList()){
                            <li>
                                <!--<h4>Check 1.2.4-RC2</h4>-->
                                <!--<time datetime="Fri Nov 18 08:00:00 CST 2011">十一月 18 2011</time>-->
                                <h4>@question.context <a href="javascript:;" class="J_question_edit" data-id="@question.questionId">编辑问题</a></h4>
                                <dl class="questions">
                                    <dt>你的性别？</dt>
                                    <dd>A.男</dd>
                                    <dd>B.女</dd>
                                </dl>
                            </li>
                            }
                        </ul>
                }
            </div>
        }
    }else{
        <h3>没有模块</h3>
    }





</article>