@(document:template.Module)


<header>
    <hgroup>
        <h1>@document.name</h1>
    </hgroup>
</header>
<article class="tasks">
    @for(item <- document.lists){
    <div class="folder">
            @item match{
                case question : template.Question =>{
                    <ul class="list">
                        <li>
                            <h4>@question.context <a href="javascript:;" class="J_question_edit" data-id="@question.questionId">编辑问题</a></h4>
                            <dl class="questions">
                                <dt>你的性别？</dt>
                                <dd>A.男</dd>
                                <dd>B.女</dd>
                            </dl>
                        </li>
                    </ul>
                }

                case module:template.Module =>{
                    <header>
                        <h3><a href="">@module.name</a></h3>
                        <span class="loader">Loading</span>
                    </header>
                }
            }



    </div>
}
</article>