@(document:template.Module)
@import com.google.gson.Gson;

<header>
    <hgroup id="doc">
        <h1 style="font-size:19px">@document.name</h1>
    </hgroup>
    <button class="downloadLink" style="float:right" onclick='window.location.href="/service/download/@helper.urlEncode(document.name)"'>下载文档</button>
</header>
<article class="tasks">
    @displayQuestion(question:template.Question) = {
        <li>
            <h5 class="module_title">问题上下文</h5>
            <h4>@question.context <a href="javascript:;" class="J_question_edit" data-id="@question.questionId">编辑问题</a></h4>
            <dl class="questions">
                @defining(Question.getById(question.questionId)){ q=>
                    @if(q!=null){
                        @defining(QuestionDescription.parse(q.description)){qd=>
                            <dt>@qd.content</dt>
                            @for(i <- 0 to (qd.options.length - 1)){
                            <dd>@(i+1).@qd.options(i)</dd>
                            }
                        }
                    }
                }
            </dl>
        </li>
    }

    @displayList(list:List[Object]) = {
        @for(item <- list){
            <div class="folder">
            @item match{
                case question : template.Question =>{
                    <header>
                        <h3 style="display:block;"><a href="javascript:;">问题</a></h3>
                        <span class="loader">Loading</span>
                    </header>
                    <ul class="list">
                        @displayQuestion(question)
                    </ul>
                }

                case module:template.Module =>{
                    <header>
                        <h3 class="module_block" style="display:block;">
                        <a href="javascript:;">模块 <span style="color:black;">@module.name</span></a>
                        <div style="display:inline-block;float:right">
                        		<input type="button" class="downloadLink" align="right" onclick='window.location.href="/service/download/@helper.urlEncode(module.name)"' value="下载模块"/>                        	
                        		<button id="file-uploader-@module.name" type="button" class="downloadLink" align="right">更新模块</button>
                        		
                        </div>
                        <script>
                         jQuery(function(){
        				 var uploader = new qq.FileUploader({
        				 element: document.getElementById('file-uploader-@module.name'),
          				 action: '/service/upload/module',
          				 name:"更新模块",
           				 onComplete: function(id, fileName, responseJSON){
           				 setTimeout(function(){$('#loading').modal('hide');},700);           				 
						 window.location.href="#/documents"
            			 return false;
          				 },
        			});           
    			});
                        		</script>
                        </h3>
                        <span class="loader">Loading</span>
                    </header>
                    <ul class="list">
                        <li>
                            <h5 class="module_title">模块文字</h5>
                            @module.text
                        </li>
                    </ul>
                    @if(module.list!=null){
                        @displayList(module.list)
                    }
                }
            }
            </div>
        }
    }

    @if(document!=null){
        @displayList(document.list)
    }
</article>