@(files: List[File],file:File)


<header>
    <hgroup>
        <h1>@file.name</h1>
    </hgroup>
</header>
<ul class="document_list">
    @displayFileImg(t:String)={
        @t match{
            case "doc" => {<img src="@routes.Assets.at("images/word.png")" />}
            case "dir" => {<img src="@routes.Assets.at("images/folder.png")" />}
        }

    }

	@for(f <- files) {
  		<li>
  			<a href="#/document/@f.id">
                @displayFileImg(f.`type`)
  				@f.name
  			</a>
  		</li>
	}
</ul>

