@(files: List[File],file:File)


<ol class="breadcrumb">
    <li><a href="#/documents">文档列表</a></li>
    <li class="active">@file.name</li>
</ol>

<ul class="document_list">
    @displayFileImg(t:String)={
        @t match{
            case "doc" => {<img src="@routes.Assets.at("images/word.png")" />}
            case "dir" => {<img src="@routes.Assets.at("images/folder.png")" />}
        }

    }

	@for(f <- files) {
  		<li>
  			<a href="#/document/@f.id">
                @displayFileImg(f.`type`)
  				@f.name
  			</a>
  		</li>
	}
</ul>

