@(document:template.Module)
@import com.google.gson.Gson;

<ol class="breadcrumb">
    <li class="active">
        @document.name
        <a href="#/page/@document.id">编辑模块分页>></a>
        <button class="downloadLink btn btn-primary btn-sm" style="float:right" onclick='window.location.href="/service/download/@helper.urlEncode(document.name)/@document.id"'>下载文档</button>
    </li>
</ol>

<article class="tasks">
    @displayQuestion(question:template.Question) = {
        <li class="list-group-item">
            <p>@question.context <a href="javascript:;" class="J_question_edit" data-id="@question.questionId">编辑问题</a></p>
            <dl class="questions well">
                @defining(Question.getById(question.questionId)){ q=>
                    @if(q!=null){
                        @defining(QuestionDescription.parse(q.description)){qd=>
                            <dt>@qd.content</dt>
                            @for(i <- 0 to (qd.options.length - 1)){
                            <dd>@(i+1).@qd.options(i)</dd>
                            }
                        }
                    }
                }
            </dl>
        </li>
    }

    @displayList(list:List[Object]) = {
        @for(item <- list){
            <div class="panel panel-info">
            @item match{
                case question : template.Question =>{
                    <div class="panel-heading">
                        <h4 class="panel-title">问题</h4>
                    </div>
                    <ul class="list-group">
                        @displayQuestion(question)
                    </ul>
                }

                case module:template.Module =>{
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a href="javascript:;">模块 <span style="color:black;">@module.name</span></a>
                        <div class="download">
                            <button class="downloadLink btn btn-primary btn-sm"  onclick='window.location.href="/service/download/@helper.urlEncode(module.name)/@module.id"'>下载模块</button>
                        	<button class="downloadLink btn btn-primary btn-sm" id="file-uploader-@module.name" >更新模块</button>
                        </div>
                        <script>
                         jQuery(function(){
        				 var uploader = new qq.FileUploader({
        				 element: document.getElementById('file-uploader-@module.name'),
          				 action: '/service/upload/module',
          				 name:"更新模块",
           				 onComplete: function(id, fileName, responseJSON){
           				 setTimeout(function(){$('#loading').modal('hide');},700);           				 
						 window.location.href="#/documents"
            			 return false;
          				 },
        			});           
    			});
                        		</script>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>@module.text</p>
                    </div>
                    @if(module.list!=null){
                        @displayList(module.list)
                    }
                }
            }
            </div>
        }
    }

    @if(document!=null){
        @displayList(document.list)
    }
</article>