@( user: User)(body: Html)

<html>
    <head>
        <title>Lawbingo</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>law</span>bingo</a>
            <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">退出</a>
                </dd>
            </dl>
        </header>
        <nav>
            <h4 class="dashboard"><a href="#/">主页</a></h4>
            <ul id="projects">
                <li>
                    <span class="toggle"></span>
                    <h4 class="groupName">文档</h4>
                    <span class="loader">Loading</span>
                    <dl class="options">
                        <dt>Options</dt>
                        <dd>
                            <button class="newProject" onclick="location.href='#/fileUpload'">上传文件</button>
                        </dd>
                    </dl>
                    <ul>
                        <li>
                            <a class="name" href="#@routes.Documents.index()">文档列表</a>
                            <span class="loader">Loading</span>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>

